pytest-runner==5.2
testfixtures==6.14.1
pytest==6.0.1
pytest-mock==3.2.0
pytest-cov==2.10.0
coveralls==2.1.1
black==19.10b0
flake8==3.8.3
sphinx==3.2.0
sphinx_py3doc_enhanced_theme==2.4.0
bump2version==1.0.0
