pytest-runner==5.2
testfixtures==6.14.2
pytest==6.1.1
pytest-mock==3.3.1
pytest-cov==2.10.1
coveralls==2.1.2
black==20.8b1
flake8==3.8.4
sphinx==3.2.1
sphinx_py3doc_enhanced_theme==2.4.0
bump2version==1.0.1
